[Unit]
Description=To start iot-doorbell program on start
After=network-online.target

[Install]
WantedBy=multi-user.target

[Service]
Type=oneshot
RemainAfterExit=yes
User=alarm
ExecStart=/home/alarm/iot-doorbell/iot-doorbell-startup.sh